img {
  max-width: 100%;
}

div.no-break, div.row {
  break-inside: avoid;
}

.sidebar {
  background-color: $info;
  border-radius: 3px;
  padding: 0.5em;

  > p {
    margin: 0;
  }

  > ul {
    margin: 0.2em;
  }
}

div.blurb {
  position: absolute;
  bottom: 0;
}
