ul {
  list-style: square outside;
}

div.small-ul ul {
  padding-inline-start: 1.5em;
}

div.no-bullets ul {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 0.2em;
  }
}

div.spaced-list ul li {
  margin-bottom: 0.5em;
}
