@mixin logo {
  font-family: $font-family-logo;
  font-size: 1.75rem;
  color: $gray-600;

  &::after {
    content: 'DataHaven';
  }
}

@page {
  size: letter;
  margin: 1in 0.75in;
}

@page:first {
  @include cover(--front-cover);

  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

@page frontmatter {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

@page chapter {
  @top-left {
    content: element(headerLeft);
    vertical-align: middle;
    color: $gray-800;
  }
  @top-right {
    content: element(headerRight);
    vertical-align: middle;
    color: $gray-800;
  }
  @bottom-right {
    content: counter(page);
    vertical-align: top;
    color: $gray-800;
  }
  @bottom-left {
    vertical-align: top;
    content: element(logo);
    color: $gray-800;
  }
}

.front-cover {
  break-after: page;
  // page: frontmatter;
}

.back-cover {
  break-before: page;
  // page: frontmatter;
  @include cover(--back-cover);
}

.front-page {
  counter-reset: page 1;
}

.front-page, .front-matter-container {
  padding-left: 2em;
  padding-right: 2em;

  > div, > div.blurb {
    padding: 0.3em;
  }
}

.front-matter-container .level2 {
  page: frontmatter;
}

// page breaks
.section.level2 {
  break-before: always;
  page: chapter;

  &:first-child h2 {
    counter-reset: page 1;
  }
}

.logo {
  @include logo;
}

.front-cover .logo {
  font-size: 2.75rem;
}

.logo-header {
  position: running(logo);
  @include logo;
}

.header-left {
  position: running(headerLeft);
}

.header-right {
  position: running(headerRight);
  text-transform: uppercase;
}
