span.na {
  color: $gray-600;
}

table {
  border-bottom: 1px solid $table-border-color;
  margin-bottom: $spacer * 2;

  thead th {
    background-color: $table-head-bg;
    font-weight: 600;
  }

  &.table-sm th, &.table-sm td {
    line-height: 1.25em;
  }
}
