.big-text {
  font-size: $font-size-lg;
}

h1, h2, h3, .h1, .h2, .h3 {
  // color: $primary;
  text-transform: uppercase;
}

h1, .h1 {
  font-weight: 900;

  &.title {
    font-size: 4em;
    line-height: 0.9;
  }
}

h2, .h2 {
  font-size: 2.5em;
}

h2, h3, .h2, .h3 {
  break-after: avoid;
  font-weight: 700;
}

.front-cover h1.title {
  font-size: 5.2em;
  margin-top: 1.5em;
  border-top: 3px solid $gray-500;
  border-bottom: 3px solid $gray-500;
  padding: ($spacer * 0.4) 0;
}

.section {
  > h2 {
    // break-before: page;
  }

  > h1, > h2, > h3 {
    break-after: avoid;
  }
}

@media print {
  a {
    color: $body-color;
  }
}

p.caption, table caption {
  @include cap;
}

p.caption {
  break-after: avoid;
}

.footnotes {
  font-size: 90%;

  hr {
    border: none;

    &::before {
      content: "Footnotes:";
    }
  }
}

.footnote-break {
  width: 1in;
}

// a[href^="http"]:not([class="uri"])::after {
//   content: " (" attr(href) ")";
//   font-size: 90%;
//   hyphens: none;
//   word-break: break-all;
// }
.references a[href^=http]:not([class=uri])::after {
  content: none;
}

.blurb {
  width: 66%;

  p {

  }
}
