#TOC {
  margin: 1.5em 0 2em 0;
}

.toc ul {
  list-style: none;
  padding-left: 0;
  overflow-x: hidden;

  li {
    border-bottom: 1px dotted $gray-700;
    margin-bottom: 0.6em;

    li {
      padding-left: 1em;
    }
  }

  a {
    text-decoration: none;
    padding-right: 0.33em;

    &::after {
      content: target-counter(attr(href), page);
      float: right;
    }
  }

  .leaders::before {
    float: left;
    width: 0;
    white-space: nowrap;
  }
}
