$body-color: #000;
$body-bg: #fff;
$border-radius: .4rem;
$headings-color: #006d77;
$link-color: #000;
$primary: #006d77;
$secondary: #008071;
$info: #f4f9e5;
$font-size-base: 0.9rem;
$list-inline-padding: 1.4rem;
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-logo: "GT Pressura Pro Bold", $font-family-sans-serif;
$table-cell-padding-sm: 0.45rem;

@mixin cap() {
  text-align: left;
  margin-top: 0.5em;
  padding-top: 8px;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  font-size: $font-size-base;
  font-weight: 700;
  color: $secondary;
  text-transform: uppercase;
  caption-side: top;
}

@mixin cover($img) {
  background-image: var($img);
  background-position: center;
  background-size: cover;
  background-position: 0px 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-color: $body-bg;
}

html {
  font-size: 14px;
}
